<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
</head>

<body>
    <h2>login</h2>
    <% if (error){ %>
    <p style="color:red"><%= error%></p>
    <% } %>
  <% if (message){ %>
    <p style="color:green"><%= message %></p>
    <% } %>

    <form action="/user/loginuser" method="POST">
        <input type="text" name="username" placeholder="Username" required /><br />
        <input type="password" name="password" placeholder="Password" required /><br />
        <button type="submit">Login</button>
        <a href="https://url-shortener-kk6e.onrender.com/forgotpassword">Forgot Password</a>
        <a href="https://url-shortener-kk6e.onrender.com/signup">signup</a>


    </form>
</body>

</html>