<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <h1>Reset Password</h1>
<form action="/user/resetpassword" method="POST">
 <input type="hidden" name="authToken" value="<%= authToken %>">
        <input type="password" name="newpassword" placeholder="new password" required><br>
        <input type="password" name="confirmpassword" placeholder="confirm new  password" required><br>
        <button type="submit">Reset Password</button>
</body>
</html>